.left {
  float: left;
  display: flex;
  width: 200px;
  height: 150px;
}


.right {

  float: right;
  display: flex;
  width: 200px;
  height: 150px;
}

.tz {
  float: right;
  width: 48%;

}
.tx {
float: left;
  width: 48%;

}
